.productDecriptionContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 620px;
  min-width: 920px;
}


.productDecriptionContainer .galleryContainer {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}
.productDecriptionContainer .galleryContainer::-webkit-scrollbar {
  display: none;
}

.productDecriptionContainer .galleryContainer .imageContainer {
  width: 119px;
  height: 120px;
  margin: 3px;
  cursor: pointer;
}

.productDecriptionContainer .galleryContainer .imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productDecriptionContainer .mainImageContainer {
  position: relative;
  flex-basis: 35%;
  height: 600px;
}

.productDecriptionContainer .mainImageContainer .overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}


.productDecriptionContainer .mainImageContainer .outOfStockText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #8d8f9a;
}

.productDecriptionContainer .mainImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDecriptionContainer .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 35%;
  height: 600px;
}

.productDecriptionContainer .info::-webkit-scrollbar {
  display: none;
}
.productDecriptionContainer .info .brandName {
  min-height: 75px;
  margin-bottom: 25px;
}

.productDecriptionContainer .info .brandName .brandNameHeader {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 0 0 15px 0;
}

.productDecriptionContainer .info .brandName .brandNameText {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  margin: 0 0;
}

.productDecriptionContainer .info .sizeContainer {
  min-height: 110px;
  max-width: 305px;
}

.productDecriptionContainer .info .sizeContainer .sizeHeader {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 10px 0;
}

.productDecriptionContainer .info .sizeContainer .sizeList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.productDecriptionContainer .info .sizeContainer .sizeList .sizeListItem {
  margin: 10px;
  background-color: white;
  border: solid 1px;
  width: 63px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  cursor: pointer;
}

.productDecriptionContainer
  .info
  .sizeContainer
  .sizeList
  .sizeListItem.selected {
  background-color: black;
  color: white;
  border: solid 3px black;
}

.productDecriptionContainer .info .priceContainer {
  min-height: 85px;
}

.productDecriptionContainer .info .priceContainer .priceHeader {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

.productDecriptionContainer .info .priceContainer .price {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
}

.productDecriptionContainer .info .addToCartBtn {
  background-color: var(--main-color);
  color: white;
  border: none;
  width: 292px;
  min-height: 52px;
  cursor: pointer;
}
.productDecriptionContainer .info .addToCartBtn.disabled {
  background-color: gray;
  color: white;
  border: none;
  width: 292px;
  min-height: 52px;
  cursor: default;
}

.productDecriptionContainer .info .description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 159.96%;
  height: 150px;
  max-width: 305px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--main-color); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
